.log-bar
  %p チャットグループが作成されました
.contents
  = render partial: "side-bar__group-zone__group", locals: { group: @group }
  .chat-zone
    .chat-zone__group
      .chat-zone__group__name
        %span SAMPLEグループ
      %a.chat-zone__group__button{href: "#"}
        %span Edit
      .chat-zone__group__member
        %span Member:
        %span メンバー
    .message-zone
      = render partial: 'message', collection: @messages
    .send-message-zone
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'send-message-zone__input', placeholder: 'type a message'
        = f.label :image, class: 'send-message-zone__pic' do
          = fa_icon 'picture-o'
          = f.file_field :image, id: 'message_hidden'
        = f.submit 'Send', class: 'send-message-zone__send'
