.log-bar
  %p チャットグループが作成されました
.contents
  .side-bar
    .side-bar__user-zone
      .side-bar__user-zone__user
        %span
          = current_user.name
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
    .side-bar__group-zone
      - for i in 1..20
        = render partial: "side-bar__group-zone__group"
  .chat-zone
    .chat-zone__group
      .chat-zone__group__name
        %span SAMPLEグループ
      %a.chat-zone__group__button{href: "#"}
        %span Edit
      .chat-zone__group__member
        %span Member:
        %span メンバー
    .message-zone
      - for i in 1..10
        = render partial: "message-zone__message"
    .send-message-zone
      %input.send-message-zone__input{placeholder: "type a message", type: "text"}
      = link_to "#" do
        %i.fa.fa-photo
      %a.send-message-zone__button{href: "#"}
        %span Send
