.log-bar
  %p チャットグループが作成されました
.contents
  .side-bar
    .user-zone
      .user
        %span sample user
        = link_to "#" do
          %i.fa.fa-cog
        = link_to "#" do
          %i.fa.fa-pencil-square-o
    .side-bar__gruop-zone
      = render partial: "side-bar__group"
  .chat-zone
    .chat-zone__group
      .chat-zone__group__name
        %span SAMPLEグループ
      %a.chat-zone__group__button{:href => "#"}
        %span Edit
      .chat-zone__group__member
        %span Member:
        %span メンバー
    .mesasge-zone
      - for i in 1..10
        = render partial: "message-zone__message"
    .send-message-zone
      .send-message-zone__input
        = link_to "#" do
          %i.fa.fa-photo
      .send-message-zone__button
        %span Send
